* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 75vh 10vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  color: white;
  padding: 2rem;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 4rem;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: blueviolet;
}

footer {
  background-color: aquamarine;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

form input {
  height: 2rem;
}

.profileAvatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.largeAvatar {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  background-color: aquamarine;
  max-width: 80px;
}


